<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{fragments/main_layout}">
<head>
    <title>CodePrep|Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <div layout:fragment="content" class="container mySpace">
    <div class="container">
    <h2>Coding Problems</h2>
    <div class="panel-group">

        <div class="col-sm-4" th:each="problem : ${problemList}">
            <div class="col-sm-2">
                <img th:src="@{css/images/Logo.png}" alt="Smiley face" style="width: 1.03in;height: 0.91in;background-color: black;">
            </div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: gray;color: #ffffff;"><a  th:href="${problem.pageUrl}"><span th:text="${problem.title}"></span></a></div>
                    <div class="panel-body"><span th:text="${problem.queContent}"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </body>
</html>