<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>CodePrep|Profile</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">

    <div class="card">
        <div class="card card-body">
            <h1>COMING SOON</h1>
            <h3>Our Website is under construction.Your patience is much appreciated. </h3>
        </div>
    </div>
</div>
</body>
</html>