<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learnprogramming</title>
</head>
<body>

<div style="/* position: absolute; */top: 2%;left: 5%;float: left;">
    <a href="#logo"><img src="css/images/logo.png" alt="Smiley face" style="
    width: 2.03in;
    height: 1.79in;
    position: absolute;
    top: -31px;
    "></a>
</div>
<div class="code-font" style="height: 73px;
    background: linear-gradient(to top right, #16579A, #5CACEB);
    width: 100%;
    padding-top: 20px;padding-left:55%">

    <a href="/"><span>Home</span></a>
    <a href="#practice"><span>Practice Coding</span></a>
    <a href="/learnprogramming"><span>Learn Programming</span></a>
    <a href="#price"><span>Pricing</span></a>
    <a href="/login"><span>Login/Sign Up</span></a>
</div>
<style>
    .code-font a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: helvetica;
    }


    </style>


<div style="background-image: url('css/images/BannerBG.png'); width:100%; height: 400px;">
   <div style="float:left; padding-top:100px; padding-left: 50px; ">
       <a href="/login">  <button style="
    background: deepskyblue;
    color: white;
    width: 50%;
    height: 42px;
    font-size: 32px;
    border: .05px solid;
    border-radius: 8px;
    margin-left: 22%;
    cursor: pointer;
    font-family: helvetica;
">Book Trail Class</button></a>
       <div style="
    padding-top: 20px;
    font-size: 31px;
    color: white;
    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 3px;
">Program solving support by <b>Experts</b></div>
    <div style="
    padding-top: 10px;
    font-size: 62px;
    color: white;
    font-family: helvetica;
">Join Online Webinars!</div>
   </div>


<img src="css/images/BannerVector.png"  width="25%" style="float:right;padding-bottom: 50px;padding-top: 76px;padding-right: 20%">
</div>
<div class="jumbotron" style="height: 400px;">
    <div class="row">

        <div class="col-sm-2 bottom-image" style="text-align: center;margin: 1%;width: 22%;float: left">
            <img class="bottom-image" src="css/images/practiceCoding.png" alt="Smiley face" style="width: 195px;height: 189.1px;padding-right: 2%;">
            <br><br>
            <span class="bottom-font" style="
    font-size: 20px;

    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 2px;
">Learn Programming through webinars instead of pre-recorded videos at the place of your comfort </span>
        </div>
        <div class="col-sm-2 bottom-image" style="text-align: center;margin: 1%;width: 22%;float: left">
            <img class="bottom-image" src="css/images/earnPoints.png" alt="Smiley face" style="width: 195px;height: 189.1px;padding-right: 2%;">
            <br><br>
            <span class="bottom-font" style="
    font-size: 20px;

    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 2px;
">Learn Competative programming from working professionals of top companies who have been there and done that</span>
        </div>
        <div class="col-sm-2 bottom-image" style="text-align: center;margin: 1%;width: 22%;float: left">
            <img class="bottom-image" src="css/images/recognized.png" alt="Smiley face" style="width: 195px;height: 189.1px;padding-right: 2%;">
            <br><br>
            <span class="bottom-font" style="
    font-size: 20px;

    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 2px;
">
                        Ask your doubts directly in webinar and get your queries resolved on spot.
                    </span>
        </div>
        <div class="col-sm-2 bottom-image" style="text-align: center;margin: 1%;width: 22%;float: left">
            <img class="bottom-image" src="css/images/strategy.png" alt="Smiley face" style="width: 195px;height: 189.1px;padding-right: 2%;">
            <br><br>
            <span class="bottom-font" style="
    font-size: 20px;

    font-family: helvetica;
    font-weight: 100;
    letter-spacing: 2px;
">
                        Get recorded sesions of the webinar in your account so that you dont miss any lecture.
                    </span>
        </div>


    </div>


</div>
<div style="    width: 100%;
    font-size: 44px;
    font-family: Helvetica Neue;
    text-align: center;
    padding-bottom: 33px;
    opacity: .9;">LIVE INTERACTIVE GROUP CLASSES</div>
<div style="height: 260px;width:100%;">
<div class="card" style="/* position: absolute; *//* top: 60%; *//* left: 7%; */width: 30%;border-width:1px;background-color: gray;margin-left:10%;border-top-right-radius: 20px;border-top-left-radius: 20px;float: left;border-style: solid;border-color: gba(255, 255, 255, .5);border-color: gray;">
    <div class="card-header code-font" style="background-color: #026aaf;color: #ffffff;
            height: 38px;font-size: 16px;text-align: center;border-top-right-radius: 20px;border-top-left-radius: 20px;">
        Can You Solve this Challenge ?
    </div>
    <div class="card-body code-font" style="background-color: #FFFFFF;">

        <div class="col-sm-2" style="padding: 0px;float: left;width:25%;"><img src="css/images/homeLogo.png" alt="Smiley face" style="height: 1.0in;"></div>
        <div class="col-sm-10" style="padding: 0px;float: left;width:75%;padding-bottom: 18px;">
            <div class="panel-default" style="border-radius:0px;height: 1.0in;padding-left: 2%;">
                <div class="panel-heading code-font" style="color: #black;padding: 0px;overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;border: none;"><span style="color: black;padding-left: 2%;font-size: 16px;"><b>Facing weird problem lately tried.</b></span></div>
                <div class="panel-body" style="padding: 0px;padding-left: 2%;"><span style="color: black;padding: 0px;overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;padding: 0px;">
                        <p style="overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;margin: 0px;">Description: </p>
                           <p style="overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;">Peter wants to generate some prime numbers <br> for his cryptosystem. Help him! Your task is
                               to generate all prime numbers between two given numbers! </p>
                        </span></div>
            </div>

        </div>
    </div>
    <div class="card-footer code-font" style="background-color: #FFFFFF;">
        <img src="css/images/footer-1.png" alt="Smiley face" style="height: 0.2in;"><span>Medium</span>
        <img src="css/images/footer-2.png" alt="Smiley face" style="height: 0.2in;"><span>2 points</span>
        <img src="css/images/footer-3.png" alt="Smiley face" style="height: 0.2in;"><span>22060</span>
        <img src="css/images/footer-4.png" alt="Smiley face" style="height: 0.2in;"><span>602149</span>

    </div>
</div>

<div class="card" style="/* position: absolute; */top: 60%;left: 7%;border-color: gray;border-style: solid;
    border-width: 1px;width: 30%;background-color: #026aaf;border-top-right-radius: 20px;border-top-left-radius: 20px;float: left;margin-left: 20%;">
    <div class="card-header code-font" style="background-color: #026aaf;color: #ffffff;
            height: 38px;font-size: 16px;text-align: center;border-top-right-radius: 20px;border-top-left-radius: 20px;">
        Can You Solve this Challenge ?
    </div>
    <div class="card-body code-font" style="background-color: #FFFFFF;">

        <div class="col-sm-2" style="padding: 0px;float: left;width:25%;"><img src="css/images/homeLogo.png" alt="Smiley face" style="height: 1.0in;"></div>
        <div class="col-sm-10" style="padding: 0px;float: left;width:75%;padding-bottom: 18px;">
            <div class="panel-default" style="border-radius:0px;height: 1.0in;padding-left: 2%;">
                <div class="panel-heading code-font" style="color: #black;padding: 0px;overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;border: none;"><span style="color: black;padding-left: 2%;font-size: 16px;"><b>Facing weird problem lately tried.</b></span></div>
                <div class="panel-body" style="padding: 0px;padding-left: 2%;"><span style="color: black;padding: 0px;overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;padding: 0px;">
                        <p style="overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;margin: 0px;">Description: </p>
                           <p style="overflow: hidden;text-overflow: ellipsis;
white-space: nowrap;">Peter wants to generate some prime numbers <br> for his cryptosystem. Help him! Your task is
                               to generate all prime numbers between two given numbers! </p>
                        </span></div>
            </div>

        </div>
    </div>
    <div class="card-footer code-font" style="background-color: #FFFFFF;">
        <img src="css/images/footer-1.png" alt="Smiley face" style="height: 0.2in;"><span>Medium</span>
        <img src="css/images/footer-2.png" alt="Smiley face" style="height: 0.2in;"><span>2 points</span>
        <img src="css/images/footer-3.png" alt="Smiley face" style="height: 0.2in;"><span>22060</span>
        <img src="css/images/footer-4.png" alt="Smiley face" style="height: 0.2in;"><span>602149</span>

    </div>
</div>
</div>
<div style="text-align: center;
    background: lightgray;
    height: 50px;
    padding-top: 12px;" ><div th:replace="fragments/footer::footer"></div></div>
</body>
</html>