<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" th:href="${'/custom/css/bootstrap.min.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/application.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/font-awesome.min.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/jquery-ui.min.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/select2.min.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/dataTables.bootstrap.min.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/dateRangePicker.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/bootstrap_slider.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/custom.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/jquery-ui-without-slider.css'}" type="text/css" media="screen"/>
    <link rel="stylesheet" th:href="${'/custom/css/bootstrap-drilldown-select.css'}" type="text/css" media="screen"/>
    <script th:src="${'/custom/js/plugins/jquery.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery-ui-without-slider.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/moment.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/bootstrap.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/select2.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery.dataTables.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/dataTables.bootstrap.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/highchart-5.0.6.js'}"></script>
    <script th:src="${'/custom/js/plugins/no-data-to-display-5.0.6.js'}"></script>
    <script th:src="${'/custom/js/plugins/exporting-5.0.6.js'}"></script>
    <script th:src="${'/custom/js/plugins/dateRangePicker.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery.slimscroll.js'}"></script>
    <script th:src="${'/custom/js/plugins/bootstrap_slider.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery.fileDownload.js'}"></script>
    <script th:src="${'/custom/js/plugins/multiselect.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/bootstrap-drilldown-select.js'}"></script>
    <script th:src="${'/custom/js/plugins/smap-shim.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery.base64.js'}"></script>
    <script th:src="${'/custom/js/plugins/buttons.html5.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/buttons.print.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/dataTables.buttons.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/jszip.min.js'}"></script>
    <script th:src="${'/custom/js/plugins/vfs_fonts.js'}"></script>
    <script th:src="${'/custom/js/common/polyfill.js'}"></script>
    <script th:src="${'/custom/js/common/global.js'}"></script>
    <script th:src="${'/custom/js/plugins/jquery.noty.packaged.min.js'}"></script>
</head>
